### A snakemake workflow of core DLBCLone functions used for classification.


# DLBCLone model storage
opt_model_path: "data/opt_model" # DLBCLone models are saved using GAMBLR.predict::DLBCLone_save_optimized(), which requires a path to where the model will be stored. DLBCLone models are loaded using GAMBLR.predict::DLBCLone_load_optimized(), which requires a path to where the model is stored (contains .rds)
model_name_prefix: "opt" # saved DLBCLone models using GAMBLR.predict::DLBCLone_save_optimized() require a name prefix to be denoted by. Loaded DLBCLone models using GAMBLR.predict::DLBCLone_load_optimized() have a name prefix they're denoted by


build_dlbclone_model: # Run UMAP and optimize parameters for classifying samples using UMAP and k-nearest neighbor. DLBCLone model object is built and saved for future use in prediction.

    metadata_path: "data/dlbcl_meta_with_dlbclass.tsv" # path to training metadata associated with the training feature matrix
    training_matrix_path: "data/all_full_status.tsv" # path to training feature matrix associated with the training metadata

    # OPTIONAL: Tunable parameters for GAMBLR.predict::make_and_annotate_umap() function. Run UMAP and attach result to metadata.
    truth_column: "lymphgen" # metadata column storing subtype truth labels

    core_features: # list input, for each subtype define features used for weighting. Make sure params as_r_list() is used in snakemake rule.
        ST2: ["SGK1", "DUSP2", "TET2", "SOCS1"]
        N1: ["NOTCH1"]
        EZB: ["EZH2", "BCL2_SV"]
        MCD: ["MYD88HOTSPOT", "CD79B", "PIM1"]
        BN2: ["BCL6_SV", "NOTCH2", "SPEN", "CD70"]
    core_feature_multiplier: 1.5 # what to multiply core features by
    hidden_features: [] # features in feature matrix you want removed from umap

    # OPTIONAL: Tunable parameters for GAMBLR.predict::DLBCLone_optimize_parameters() function.
    truth_classes: ["EZB", "MCD", "ST2", "N1", "BN2", "Other"] # List all truth classes found in the truth column
    other_class: "Other" # subtype name for the "Other" class

    min_k: 3 # Starting k for knn (Default: 3)
    max_k: 33 # Ending k for knn (Default: 33)


test_meta_maf_formatter: # reformat test data columns of metadata and maf data appropriate for assemble_genetic_features use. 

    test_maf_dir: "data/LySeqST_merged_unaugmented_vaf.maf" # path to the test maf file associated with the test metadata
    maf_sample_id_colname: "Tumor_Sample_Barcode" # maf column storing sample_id names 

    test_metadata_dir: "data/LySeqST_only_unaugmented_vaf.lymphgen_calls.no_cnvs.with_sv.no_A53.tsv" # path to test metadata associated with the test maf file
    metadata_sample_id_colname: "Sample.Name" # metadata column storing sample_id names
    truth_column_colname: "Subtype.Prediction" # metadata column storing subtype truth labels
    sv_from_metadata: ["BCL2.Translocation","BCL6.Translocation"] # metadata colnames that posses translocation status information
    translocation_status: # list input, for each translocation gene status define naming conventions. Make sure params as_r_list() is used in snakemake rule.
        POS: "yes" # POS = positive for a translocation
        NEG: "no" # NEG = negative for a translocation
        NA_STATUS: "Not Available" # NA = undetermined status

  
assemble_genetic_features: # This function assembles a matrix of genetic features for each sample including mutation status aSHM counts and structural variant status for BCL2 BCL6 and MYC. It supports both genome and capture sequencing (data) types.

    genes: [ # input all genes available in your maf data you would like assembled into your feature matrix
        "ACTB", "ACTG1", "BCL10", "BCL2", "BCL2L1", 
        "BCL6", "BIRC3", "BRAF", "BTG1", "BTG2", 
        "BTK", "CD19", "CD70", "CD79B", "CD83", 
        "CDKN2A", "CREBBP", "DDX3X", "DTX1", "DUSP2", 
        "EDRF1", "EIF4A2", "EP300", "ETS1", "ETV6", 
        "EZH2", "FAS", "FCGR2B", "FOXC1", "FOXO1", 
        "GNA13", "GRHPR", "HLA-A", "HLA-B", "HNRNPD", 
        "IRF4", "IRF8", "ITPKB", "JUNB", "KLF2", 
        "KLHL14", "KLHL6", "KMT2D", "MEF2B", "MPEG1", 
        "MYD88", "NFKBIA", "NFKBIE", "NFKBIZ", "NOL9", 
        "NOTCH1", "NOTCH2", "OSBPL10", "PIM1", "PIM2", 
        "PRDM1", "PRDM15", "PRKDC", "PRRC2C", "PTPN1", 
        "RFTN1", "S1PR2", "SETD1B", "SGK1", "SOCS1", 
        "SPEN", "STAT3", "STAT6", "TBCC", "TBL1XR1", 
        "TET2", "TMEM30A", "TMSB4X", "TNFAIP3", "TNFRSF14", 
        "TOX", "TP53", "TP73", "UBE2A", "WEE1", 
        "XBP1", "ZFP36L1", "MYD88HOTSPOT", "BCL2_SV", "BCL6_SV"
    ]
    synon_genes: null # input all synonymous genes available in your maf data you would like assembled into your feature matrix
    hotspot_genes: ["MYD88"] # input all hotspot genes available in your maf data you would like assembled into your feature matrix

    genome_build: "grch37" # genome build RECCOMENDED DEFAULT = "grch37"

    sv_value: 2 # value assigned for structural variants
    synon_value: 1 # value assigned for synonymous mutations
    coding_value: 2 # value assigned for coding mutations

    include_ashm: false # include ASHM features default: FALSE
    annotated_sv: null # "/path/to/sv.tsv"
    include_GAMBL_sv: # false include GAMBLR sv features default: FALSE


dlbclone_predict: # Predict DLBCL genetic subgroup for one or more samples using a pre-trained DLBCLone model

    test_data_dir: "data/test_mutation_matrix.tsv" # path to test mutation matrix 

    pred_dir: "data" # path to store DLBCLone predictions

    # OPTIONAL: Tunable parameters for GAMBLR.predict::DLBCLone_predict() function
    fill_missing: true # if TRUE, any features present in the model but not seen in test mutation matrix are added and set to zero. If FALSE, missing model features cause an error
    drop_extra: false # if TRUE, any features present in test mutation matrix but not seen during model training are dropped
